:root {
    --dark-grey: #26251d;
    --dark-blue: #2c3d51;
    --light-blue: #8d9db6;
}

* {
     /* border: 0.1px solid grey !important; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    color: white;
    text-align: center;
    background: var(--dark-grey);
    padding: 0.6em 0 0.6em 0;
}

main {
    flex: 1;
    margin: 1em 0 1em 0;    
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

main [class*="col-"] {
    padding: 0.5em;
}

main h2,
main h3 {
    color: var(--dark-blue);
    border-bottom: 0.1rem solid var(--dark-blue);
}

main h4 {
    color: var(--dark-blue);
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

p, ol {
    text-align: justify;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

code {
    white-space: pre-wrap;
    word-break: break-all;
}

.code-example {
    font-size: 0.9em;
    color: white;
    padding: 1em;
    margin: 0 2em 0 2em;
    background: var(--dark-blue);
}

footer {
    font-size: 0.9em;
    padding: 0.3em 0 0.3em 0;
    background: var(--dark-blue);    
}

img,
svg,
embed,
object,
video {
    max-width: 100%;
    max-height: 100%;
}

href,
a {
    margin: auto;
    color: white;
    text-decoration: none;
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}

main a {
    color: var(--dark-blue);
    font-weight: bold;
}

a:hover {
    color: var(--light-blue);
}

.clickable__item {
    fill: white;
}

.clickable__item:hover {
    color: var(--light-blue);
    fill: var(--light-blue);
}

.footer__row {
    margin: 0.3em 0 0.3em 0;
}

.header__logo {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    height: auto;
    max-height: 4em;
}

.header__menu {
    margin: auto;
    visibility: hidden;
}

#menu {
    color: white;
    font-size: 1.5em;
    padding: 10%;
    cursor: default;
}

nav {
    background: var(--dark-blue);
    text-transform: none;
    width: 100%;
}

.nav.open {
    display: block;
}

.nav__list {
    display: list-item;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1em;
    width: 10em;
    height: 3em;
}

.nav__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer__logo {
    vertical-align: -0.5em;
    height: 2em;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(1 * 100% / 12);
}

.col-2 {
    width: calc(2 * 100% / 12);
}

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-5 {
    width: calc(5 * 100% / 12);
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-7 {
    width: calc(7 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-9 {
    width: calc(9 * 100% / 12);
}

.col-10 {
    width: calc(10 * 100% / 12);
}

.col-11 {
    width: calc(11 * 100% / 12);
}

.col-12 {
    width: calc(12 * 100% / 12);
}

@media only screen and (max-width: 250px) {
    html,
    body {
        word-break: break-all;
    }
}

@media only screen and (max-width: 600px) {
    header {
        border-bottom: 0.6em solid var(--dark-blue);
        padding: 0.8em 0 0.8em 0;
    }

    .header__logo {
        width: 50%;
    }

    .header__title {
        display: none;
    }

    .header__menu {
        visibility: visible;
        width: 50%;
    }

    nav {
        display: none;
        position: absolute;
    }

    .nav__item {
        display: list-item;
        width: 100%;
        height: 5em;
    }
}

@media only screen and (max-width: 700px) {
    main [class*="col-"] {
         width: 100%;
    }
}

@media only screen and (min-width: 901px) {
    .row,
    .nav__list {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}