---
name: default
---

<!DOCTYPE html>
<html lang="en">
  {% render "head", page: page, title: title %}
  <body>
    {% render "header", page: page, pages: pages %}
    <main>{{ content }}</main>
  </body>
  <script>
    {% render "service-worker-registration.js" %}
  </script>
</html>
