---
name: default
---

<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    {% include "header.njk" %}
    <main>{{ content | safe }}</main>
  </body>
  <script>
    {% include "service-worker-registration.js" %}
  </script>
</html>