---
name: default
---

<!DOCTYPE html>
<html lang="en">
  {% render "head" %}
  <body>
    {% render "header" %}
    <main>{{ content }}</main>
  </body>
  <script>
    {% render "service-worker-registration.js" %}
  </script>
</html>
