<header>
  <div class="row">
    <div class="col-2 header__logo">
      <img src="img/chess.svg" alt="Chess">
    </div>
    <div class="col-8 header__title">
      <h2>Bruno Roque</h2>
      <h3>Software Engineer</h3>
    </div>
    <div class="col-2 header__menu">
      <a id="menu">&#9776;</a>
    </div>
  </div>
</header>
<div class="nav_container">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" rel="noopener">About</a>
      </li>
      <li class="nav__item">
        <a href="code-mastery" rel="noopener">Code Mastery</a>
      </li>
      <li class="nav__item">
        <a href="software-architecture" rel="noopener">Software Architecture</a>
      </li>
      <li class="nav__item">
        <a href="world-timeline" rel="noopener">World Timeline</a>
      </li>
      <li class="nav__item">
        <a href="quotes" rel="noopener">Quotes</a>
      </li>
    </ul>
  </nav>
</div>