<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="manifest" href="{{ site.data.global.url }}/manifest.webmanifest" />
  <meta name="Description" content="BrunoRoque06" />
  <meta name="theme-color" content="#2c3d51" />
  <link
    rel="icon"
    href="{{ site.data.global.url }}/images/favicon.png"
    sizes="any"
  />
  <title>
    {% if page.title %}{{ page.title }} - {{ site.title }} {% else %}{{
    site.title }} {% endif %}
  </title>
  <style type="text/css">
    {% capture style %}
      {% include style.scss %}
    {% endcapture %}
    {{style | scssify}}
  </style>
</head>
