<head>
  <meta charset="utf-8"/>
  <link rel="canonical" href="https://brunoroque06.github.io"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="manifest" href="manifest.json"/>
  <meta
    name="Description"
    content="Bruno Roque's personal website. It contains information about: Software Engineering, and Chess."/>
  <meta name="theme-color" content="#2c3d51"/>
  <link rel="icon" href="images/favicon.png" sizes="any"/>
  <link rel="apple-touch-icon" href="images/favicon.png" sizes="any"/>
  <title>{{ title }} - Bruno Roque</title>
  {% set style %}{% include "style.scss" %}{% endset %}
  <style type="text/css">{{style | scss2css | safe}}</style>
</head>