<header>
  <div class="column">
    <div class="title">
      <span><span>Bruno Roque</span><span class="vim">#</span></span>
    </div>
    <div class="subtitle">Software Engineer</div>
  </div>
  <div class="pages">
    <div class="page"><a href="{{ site.data.global.url }}/">About</a></div>
    {% for page in site.data.pages %}
    <div class="page">
      <a
        href="{{
          site.data.global.url
        }}/{{ page | downcase | replace: ' ', '-'}}"
        >{{ page }}</a
      >
    </div>
    {% endfor %}
  </div>
  {% include logos.html %}
</header>
