<head>
  <meta charset="utf-8"/>
  <link rel="canonical" href="https://brunoroque06.github.io{{ page.url }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta
    name="Description"
    content="Bruno Roque's personal website. It contains information about: Software Engineering, and Chess."/>
  <meta name="theme-color" content="#2c3d51"/>
  <link rel="icon" href="/imgs/favicon-192.png" sizes="any"/>
  <link rel="apple-touch-icon" href="/imgs/favicon-180-bg.png" sizes="any"/>
  <title>{{ title }} - Bruno Roque</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sora:wght@400;700&display=swap');
  </style>
  {% capture style %}{% render "style.scss" %}{% endcapture %}
  <style type="text/css">{{ style | scss2css }}</style>
</head>
