$font-family-regular: Rubik, sans-serif;
$font-family-mono: JetBrains Mono, monospace;

$color-background: #f2dfce;
$color-main: #286983;
$font-color-main: black;
$border: 1rem;

body {
  font-family: $font-family-regular;
  background: $color-background;
  color: $font-color-main;
  border: $border solid $color-main;
  margin: 0;

  header {
    height: calc(100vh - 2 * $border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .name {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;

      .caret {
        color: $color-main;
        background: $color-main;
        display: inline-block;
        line-height: 1em;
        padding: 0 0.05em;
      }
    }

    .title {
      font-family: $font-family-mono;
      font-size: 1.4rem;
      font-weight: 500;
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 1rem;

      a {
        display: flex;

        .link {
          fill: $font-color-main;
          height: 1.6rem;
        }

        &:hover {
          .link {
            fill: $color-main;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 17em) {
  body {
    word-break: break-all;
  }
}
