$font-family-regular: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
$font-family-mono: ui-monospace, monospace;

$color-background: #f2e9e1;
$color-main: #286983;
// $color-accent: #ea9d34;
$font-color-main: black;
$font-color-accent: #f4ede8;

body {
  margin: 0;
  font-family: $font-family-regular;
  background: $color-background;
  color: $font-color-main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  grid-gap: 0;
  padding-bottom: 2rem;
  width: 100%;

  header .pages .page a,
  main a {
    color: $font-color-main;
    padding: 0.1rem 0.3rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &::after {
      content: "";
      background: $color-main;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 1.1em);
      z-index: -1;
    }

    &.active,
    &:hover {
      color: $font-color-accent;

      &::after {
        height: 100%;
      }
    }
  }

  header {
    grid-area: header;
    text-align: center;
    width: 68rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .column {
      flex-direction: column;
    }

    .title {
      font-size: 2.1rem;
      text-transform: uppercase;

      .caret {
        color: $color-main;
        background: $color-main;
        display: inline-block;
        line-height: 1em;
        padding: 0 0.05em;
      }
    }

    .subtitle {
      font-family: $font-family-mono;
      font-size: 1.4rem;
    }

    .pages {
      display: flex;
      margin: 2rem 0 0.5rem;

      .page {
        font-size: 1.5rem;
        margin: 0 0.5rem;
      }
    }

    .logos {
      a {
        display: inline-block;

        .logo {
          fill: $font-color-main;
          height: 1.8rem;
          margin: 0.8rem;
        }

        &:hover {
          .logo {
            fill: $color-main;
          }
        }
      }
    }
  }

  main {
    grid-area: main;
    width: 65rem;
    margin: 0 auto;
    font-size: 1rem;
    text-align: justify;

    blockquote,
    code {
      border-left: 0.3rem solid $color-main;
      margin: 1rem;
      padding-left: 0.5rem;
    }

    code {
      display: block;
      white-space: pre-line;
      font-family: $font-family-mono;
    }

    h2 {
      border-bottom: 0.1rem solid $font-color-main;
    }

    table {
      border-collapse: collapse;
      border: 1px solid $font-color-main;
      margin: 1rem 0;

      td,
      th {
        border: 1px solid $font-color-main;
        padding: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 72em) {
  body {
    header {
      width: 95%;
    }

    main {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 35em) {
  body {
    header .pages {
      flex-direction: column;

      .page {
        margin: 0.5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 17em) {
  body {
    word-break: break-all;
  }
}
