:root {
  --font-main: Rubik;
  --font-mono: JetBrains Mono;
}

* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
}

.header {
  text-align: center;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-family: var(--font-mono);
  font-size: 1.2rem;
  font-weight: 500;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
