.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin {
  margin: 4em;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 20px;
  text-align: center;
}

.items {
  margin-left: auto;
}
