:root {
  --color-main: #286983;
}

body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 1rem;

  margin: 5rem 0;

  font-family: sans-serif;
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
  padding: 0.4rem;
}

a:hover {
  color: white;
  background-color: var(--color-main);
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 10rem;

  font-family: monospace;
  font-size: 2rem;
}

.caret {
  background: var(--color-main);
}

.title {
  color: var(--color-main);
  font-size: 2rem;
}

@media only screen and (max-width: 17em) {
  body {
    word-break: break-all;
  }
}
